@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

.piano {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.white-keys {
  display: flex;
}

.key.white {
  width: 60px;
  height: 200px;
  position: relative;
  z-index: 1;
}

.black-keys {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 20px;
  padding-left: 12%; /* 블랙건반 시작 위치 조절 */
}

.key.black {
  width: 40px;
  height: 120px;
  /*background: black;*/
  border: none;
  position: relative;
  z-index: 2;
  margin: 0 -10px;
}

.spacer {
  width: 1px;
  height: 120px;
}

.wide-spacer {
  width: 57.5px;
}

.btns {
  display: inline-block;
  position: relative;
  width: fit-content;
}

.normal {
  margin: 5px;
}

.selectSong {
  margin: 5px 0px;
  padding: 10px;
  border: 2px solid rgba(189, 189, 189, 0.822);
  border-radius: 15px;
}

.songList {
  background-color: rgb(230, 226, 221);
  border-radius: 20px;
  height: 600px;
}

.listBox {
  position: absolute;
  display: grid;
  top: 20px;
  right: 20px;
  width: 20%;
}

.playBtn {
  width: 70px;
  justify-self: end;
}

.setBtn {
  width: 180px;
  justify-self: end;
}

.renewBtn {
  width: 70px;
  justify-self: end;
}

.songListTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songEntity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.alarmBox {
  margin: 20px 5px;
  padding: 5px;
  width: 400px;
  position: relative;

  border-radius: 20px;
  border-color: #171717;
  border: 2px solid;
}

.deleteBtn {
  background-color: #ffffff;
  border-radius: 10px;
}

.song {
  background-color: rgb(172, 157, 143);
  box-shadow: 0px 5px 1px -2px #49453f8f;
}

h4 {
  margin: 20px 25px;
}
